{% extends "layout.html" %}
{% load static %}

{% block metatitle %}telmedx | Devices{% endblock %}
{% block metadescription %}Find all the registered device right here.{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">
                <span class="partition">
                    {{ brand }} - {{ user }}
                </span>
            </a>
        </li>
        <li>
            <a href="/usage">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li>
            <a href="ttux/logout">
                <span class="glyphicon glyphicon-off"></span>
            </a>
        </li>
    </ul>
{% endblock nav %}


{% block content %}
    <div class="container">
        {% include 'admin/admin_nav.html' with current_page='Groups' %}
        <div class="col-md-12">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="actions"></th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'admin-groups-update' group.pk %}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                            <td>{{ group.name }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>None</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}
