{% extends "layout.html" %}
{% load static %}

{% block metatitle %}telmedx | Devices{% endblock %}
{% block metadescription %}Find all the registered device right here.{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">
                <span class="partition">
                    {{ brand }} - {{ user }}
                </span>
            </a>
        </li>
        <li>
            <a href="/usage">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li>
            <a href="ttux/logout">
                <span class="glyphicon glyphicon-off"></span>
            </a>
        </li>
    </ul>
{% endblock nav %}


{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="row" style="margin-top: 90px;">
                <div class="col-md-4 pull-left">
                    <h2>Groups</h2>
                    <a href="{% url 'admin-groups-create' %}" class="btn btn-primary">Add new</a>
                </div>
                <div class="col-md-8">
                    <select></select>
                    <select></select>
                    <form class="form-inline">

                    <input type="text" placeholder="Filter users" value=""/>
                    <div>
                        1-50 of 348
                    </div>
                    <div class="">
                        Arrows
                    </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Added</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in object_list %}
                        <tr>
                            <td><a href="{% url 'admin-groups-update' group.pk %}">Edit</a></td>
                            <td>{{ group.name }}</td>
                            <td>{{ user.created }}</td>
                            <td></td>
                        </tr>
                    {% empty %}
                        <tr>
                        <td>None</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}
