{% load widget_tweaks %}

<form class="form" method="POST" action="{{ action }}">
    {% csrf_token %}

    {% for field in profile_form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}

    {% for field in user_form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="form-group">
        <a href="{{ back_url }}" class="btn btn-default">Cancel</a>
        {% if mode == 'update' %}
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="pull-right btn btn-danger">Delete User</button>
        {% elif mode == 'create' %}
            <button class="btn btn-primary" type="submit">Create</button>
        {% endif %}
    </div>
</form>
