{% load widget_tweaks %}

<form id="users-form" class="form" method="POST" action="{{ action }}">
    {% csrf_token %}
    <div id="errors" class="form-group">
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if instance.is_staff %}
            Group Admin
            {% endif %}
        </div>
    </div>

    {% for field in profile_form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12 form-group">
            <div class="pull-left">
                {% if mode == 'update' %}
                    <button class="users-delete-btn btn btn-lg btn-link" type="button">
                        <span class="glyphicon glyphicon-trash"></span> Delete User
                    </button>
                {% endif %}
            </div>
            <div class="pull-right">
                <a href="{{ back_url }}" class="btn btn-lg btn-default">Cancel</a>
                {% if mode == 'update' %}
                    <button class="btn btn-lg btn-primary" type="submit">Save</button>
                {% elif mode == 'create' %}
                    <button class="btn btn-lg btn-primary" type="submit">Create</button>
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% include 'admin/users_delete_modal.html' %}
