{% extends "layout.html" %}
{% load static %}

{% block metatitle %}telmedx | Devices{% endblock %}
{% block metadescription %}Find all the registered device right here.{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">
                <span class="partition">
                    {{ brand }} - {{ user }}
                </span>
            </a>
        </li>
        <li>
            <a href="/usage">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li>
            <a href="ttux/logout">
                <span class="glyphicon glyphicon-off"></span>
            </a>
        </li>
    </ul>
{% endblock nav %}


{% block content %}
    <div class="container">
        <nav class="col-md-12">
            <nav class="navbar" style="margin-top: 90px;">
                <div class="navbar-header">
                    <a class="navbar-brand">Users</a>
                </div>
                <div class="">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Users <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'admin-users-list' %}">Users</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'admin-groups-list' %}">Groups</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <select></select>
                    <select></select>
                    <form class="form-inline">

                        <input type="text" placeholder="Filter users" value=""/>
                        <div>
                            1-50 of 348
                        </div>
                        <div class="">
                            Arrows
                        </div>
                    </form>
                </div>
            </nav>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{# edit #}</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Group</th>
                        <th>Type</th>
                        <th>Added</th>
                        <th>{# start conference #}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in object_list %}
                        <tr>
                            <td>
                                <a class="" href="{% url 'admin-users-update' user.pk %}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.groups.all|join:', ' }}</td>
                            <td>{{ user.is_staff }}</td>
                            <td>{{ user.date_created|date:'Y-m-d' }}</td>
                            <td><a href="#">Start Conference</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
    </div>
    </div>

{% endblock %}
