{% extends "layout.html" %}
{% block metatitle %}telmedx - login{% endblock %}
{% block metadescription %}Looking for the next big thing in healtcare? Checkout telmedx.com{% endblock %}
{% block metastyle %}
		<style>
          html,
          body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
          }
          /* Wrapper for page content to push down footer */
          #wrap {
            min-height: 100%;
            height: auto;
            /* Negative indent footer by its height */
            margin: 0 auto -20px;
            /* Pad bottom by footer height */
            padding: 0 0 20px;
            background: url(static/img/brushedsteel-dk.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
          /* Set the fixed height of the footer here */
          #footer {
            height: 20px;
            background-color: #000;
            color: #a0a0a0;
            text-align: center;
          }
          #footer-push{
            height: 10px;
            background-color: #202020;
          }
          .navbar-nav>li>a{
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 16px;
          }
          .navbar
          {
            background-color: #fff;
          }
        </style>
{% endblock metastyle %}
{% block content %}
    <div class="container" >
      <div class="row" style="margin-top: 130px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Sign In</h3>
            </div>
              <div class="panel-body">
                <form accept-charset="UTF-8" method="POST" action="" role="form">
                  <fieldset>
                      {% csrf_token %}
                      <div class="form-group {% if form.errors %} has-error {% endif %}">
                        <input class="form-control error" placeholder="Username" name="username" type="text">
                    </div>
                    <div class="form-group {% if form.errors %} has-error {% endif %}">
                      <input class="form-control error" placeholder="Password" name="password" type="password" value="">
                    </div>
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    <input type="hidden" name="next" value="/ttux/deviceList" />
                  </fieldset>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>	
{% endblock content %}
