
th.actions {
  width: 36px;
}

#admin {
  background: transparent;

  .admin-content {
    background: #fff;
  }

  // Offset for top navigation
  & > .row:first-of-type {
    margin-top: 90px;
  }
}

#wrap .container {
}


.admin-navbar {
  //margin-top: 90px;

  .page-status {
    margin-left: 16px;
    margin-right: 5px;
  }

  .search-form, .top-title {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }

  .top-title {
    h2 {
      float: left;
      display: inline-block;
      margin: 0;
    }
    .users-create-btn, .groups-create-btn {
      float: left;
      display: inline;
      margin-left: 20px;
    }
  }

}
