html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 0 0 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap.telmedx {
  background: url('/static/img/telmedx/bg.jpg') no-repeat center center fixed;
}

#wrap.mahiri {
  background: url('/static/img/mahiri/bg.jpg') no-repeat center center fixed;
}

#wrap.kpnw {
  background: url('/static/img/kpnw/bg.jpg') no-repeat center center fixed;
}

/* Set the fixed height of the footer here */
#footer {
  height: 20px;
  background-color: #000;
  color: #a0a0a0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

#footer-push {
  height: 10px;
  background-color: #202020;
}

.navbar {
  background-color: #fff;

  &.shadow {
    -moz-box-shadow: 0 3px 15px #767575;
    -webkit-box-shadow: 0 3px 15px #767575;
    box-shadow: 0 3px 15px #767575;
  }

  .icon-bar {
    background-color: black;
  }

  .navbar-toggle {
    border: 1px solid black;
    margin-top: 18px;
  }

  .navbar-brand {
    padding: 10px;
    img {
      height: 40px;
    }
  }

  .navbar-right {
    li > a {
      padding-top: 20px;
      padding-bottom: 11px;

      span.glyphicon {
        font-size: 25px;
        color: #000;
      }

      span.partition {
        font-size: 16px;
        line-height: 29px;
        color: #333;
      }
    }
  }
}

#powered-logo {
  float: left;
  padding: 20px;
}

#snapshot-panel {
  float: left;
  width: 100%;
  margin-right: 1%;
}

#second-row {
  width: 100%;
  margin-top: 1%;
  margin-left: 0;
}

#first-row {
  margin-top: 4%;
}

div#cap-head {
  color: #333;
  border: 1px solid #ddd;
  background: #f5f5f5;
}

.video-panel.panel.panel-default.resizable.ui-resizable {
  height: 650px;
}

img.snapshot {
  margin-bottom: 4px;
}

.currently-panning {
  pointer-events: none;
  background: none !important;
}


/* SNAPSHOTS */
#snapText {
  resize: none;
  width: 100%;
  padding-top: 1%;
  border: solid 1px #d3d3d3;
  padding-left: 1%;
}

#snapText::placeholder {
  color: #000;
}

#snapshots {
  padding-bottom: 5.5%;
  width: 90%;
  margin: auto;
}

#download-snapshot {
  padding-right: 1%;
}

#imageDownloadForm {
  width: 90%;
  margin: auto;
}

#downloadSnap {
  margin: 2% 0% 2% 2%;
}

/* END SNAPSHOTS */

// Not in use?
#camera-back-icon span {
  font-size: 40px;
  height: 50px;
  padding-top: 5px;
}

@media (min-width: 800px) {
  .left_panel {
    max-width: 600px;
  }
}

@media all and (max-width: 1400px) {
  #first-row {
    margin-top: 7%;
  }
}

@media all and (max-width: 992px) and (min-width: 768px) {
  .nav {
    height: 45px;
  }
  .navbar-brand {
    padding: 10px;
  }
  .navbar-brand img {
    margin-top: 3px;
    height: 25px;
  }
  .navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 14px;
  }
  #first-row {
    margin-top: 70px;
  }
  .resizable-right.ui-resizable {
    height: auto;
    border-radius: 4px;
  }
}

