// Dynamically created by video-view.js
#hollywood {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto auto 8px;
}

#device-video-page {

  #video-container{
    padding: 0%;
    margin: 1%;
    float: left;
    width: 40%;
  }

  #stream-container-child{
      padding: 0px;
  }

  #snap-container {
    padding: 0%;
    width: 100%;
    /* height: 670px; */
    /* width: 48%; */
    /* max-width: 48%; */
  }

  #first-middle {
    float: left;
    margin: 1%;
    width: 13%;
  }

  #first-right {
    float: left;
    max-width: 40%;
    margin: 1%;
    width: -webkit-fill-available;
  }

  @media all and (max-width: 950px){
    #video-container, #snap-container {
      padding: 0;
      /* height: 780px; */
      width: 94%;
      margin: 3%;
      float: left;
      max-width: 94%;
    }

    div#first-middle {
      width: 94%;
      margin: 3%;
    }

    div#first-right {
      max-width: 94%;
      width: 94%;
      margin: 3%;
    }

    #snap-container{
      margin: 0%;
      width: 100%;
      max-width: 100%;
    }

  }


  #second-left, #second-right {
    /* padding: 2%; */
  }

  #capture-snaper {
    &.panel {
      margin-bottom: 0;
    }

    .panel-body {
      padding: 0;
    }

    // Inside of .panzoom
    #activeSnapshot {
      height: 100%;
      width: 90%
    }
  }

  div#button-group {
    margin-top: -1%;
  }

  #video-canvas {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid black;
  }

  .canvas-wrapper {
    display: table;
    margin: 0 auto;
  }

  div.stream-container {
    .ui-widget-content {
      border: 0 !important;
    }
  }

  div#pastSnapshots {
    .snap-item {
      margin: 2px;
    }
  }

  .row.ui-widget-content {
    display: inline;
  }

  .closeDiv {
    background-image: url(/static/img/controls/del-default.png);
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
    margin-left: 1px;
}

.closeDiv:hover {
  background-image: url(/static/img/controls/del-hover.png);
}

.snapshot-container {
  padding-right: 2%;
}

}

#myModal {
  #drawing-layer {
    position: absolute;
    z-index: 4;
  }

  .hundo {
    width: 100%;
  }
}

.ui-resizable-sw {
  background-image: url(images/ui-icons_444444_256x240.png);
  transform: rotate(90deg);
  cursor: sw-resize;
  width: 12px;
  height: 12px;
  left: 5px;
  right: 0px;
  bottom: 4px;
  z-index: 90;
  position: absolute;
  background-position: -64px -224px;
}



