// Dynamically created by video-view.js
#hollywood {
  height: 100%;
  width: 65%;
  display: block;
  margin: auto auto 8px;
}

#device-video-page {

  #capture-snaper {
    &.panel {
      margin-bottom: 0;
    }

    .panel-body {
      padding: 0;
    }

    // Inside of .panzoom
    #activeSnapshot {
      height: 100%;
    }
  }

  div#button-group {
    margin-top: -.5%;
  }

  #video-canvas {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid black;
  }

  .canvas-wrapper {
    display: table;
    margin: 0 auto;
  }

  div.stream-container {
    .ui-widget-content {
      border: 0 !important;
    }
  }

  div#pastSnapshots {
    .snap-item {
      margin: 2px;
    }
  }

  .row.ui-widget-content {
    display: inline;
  }

  .closeDiv {
    background-image: url(images/del-default.png);
    height: 20px;
    width: 20px;
    float: left;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
    margin-left: 1px;
}

.closeDiv:hover {
  background-image: url(images/del-hover.png);
}

.snapshot-container {
  padding-right: 2%;
}

}

#myModal {
  #drawing-layer {
    position: absolute;
    z-index: 4;
  }

  .hundo {
    width: 100%;
  }
}

.ui-resizable-sw {
  background-image: url(images/ui-icons_444444_256x240.png);
  transform: rotate(90deg);
  cursor: sw-resize;
  width: 12px;
  height: 12px;
  left: 5px;
  right: 0px;
  bottom: 4px;
  z-index: 90;
  position: absolute;
  background-position: -64px -224px;
}



