$telmedx-orange: #FF9933;
$telmedx-orange-hover: #FF3300;
$telmedx-orange-hover-lt: #FF6600;

.navbar {
  ul.nav {
    li.active {
      background: transparent;
      a {
      }
      span.link {
        color: $telmedx-orange;
        text-decoration: underline;
      }
    }
  }
}

.navbar-header {
  .navbar-brand {
    color: #666;
    font-size: 1.5em;
  }
}

a {
  color: $telmedx-orange;
  &:hover, &:active {
    color: $telmedx-orange-hover;
  }
}

#admin nav.navbar {
  background: transparent;

  button {
    &.btn-default {
      color: $telmedx-orange;
      border: 1px solid $telmedx-orange;
      background: transparent;
    }

    &:hover {
      color: #fff;
      background: $telmedx-orange;
    }

    &:hover[disabled="disabled"] {
      color: $telmedx-orange;
      background: transparent;
    }
  }
}

#users-form, #groups-form {
  // Delete button
  button.btn-link {
    color: #999;
  }

  // Cancel button
  a.btn-default {
    border: none;
    background: #d7d7d7;
    color: #fff;

    &:hover {
      background: #999;
    }
  }

  // Submit button
  button.btn-primary {
    color: #fff;
    background: $telmedx-orange;
    border: 1px solid $telmedx-orange;

    &:hover {
      color: #fff;
      background: $telmedx-orange-hover-lt;
    }

    &:hover[disabled="disabled"] {
      background: $telmedx-orange;
    }
  }
}

.user-login-container {
  border-radius: 5px;

  background: #fff;
  min-height: 400px;
  padding: 25px 50px;

  .title {
    text-align: center;
    font-size: 24px;
  }

  .user-login-form {

    .errornote {
      color: #cb1a1a;
      margin: 0 0 18px;
    }

    label {
      font-weight: normal;
      font-size: 16px;
    }

    input {
      height: 46px;
      margin-bottom: 30px;
    }

    button.btn-primary {
      color: #fff;
      background: $telmedx-orange;
      border: 1px solid $telmedx-orange;

      &:hover {
        color: #fff;
        opacity: 0.8;
      }

      &:hover[disabled="disabled"] {
        background: $telmedx-orange;
      }
    }
  }
}
