
th.actions {
  width: 36px;
}


#wrap .container {
  background: #fff;
}


.admin-navbar {
  //margin-top: 90px;

  .page-status {
    margin-left: 5px;
    margin-right: 5px;
  }

  .search-form {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }

}
