{% extends "layout.html" %}
{% block metatitle %}telmedx | 404{% endblock %}
{% block metadescription %}We were unable to find the page you are looking for.{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 130px;">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Whoops! | 404 Page Not Found</h3>
                    </div>
                    <div class="panel-body">
                        <p>We were unable to find the page you are looking for.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
