{% load static %}
{% load thumbnail %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block metatitle %}{% endblock %}</title>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    {#    <link rel="apple-touch-icon" href="icon.png">#}
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor.css' %}">
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


<div id="wrap" class="{{ brand }}">
    <div class="navbar navbar-fixed-top shadow">
        <div class="container">
            <div class="navbar-header" style="min-height: 60px;">
                <a class="navbar-brand"
                   href="{% if user and user.is_staff %}{% url 'admin-users-list' %}{% endif %}">
                    {% if user.is_staff and not user.is_superuser %}
                        <img src="{{ user.group.profile.logo|thumbnail_url:'logo' }}" alt="telmedx">
                    {% elif user.is_superuser %}
                        <img src="{% static '/img/' %}/{{ brand }}/brand-logo.png" alt="telmedx">
                    {% else %}
                        {# When user is not logged in, use default logo from build command? #}
                        <img src="{% static '/img/' %}/{{ brand }}/brand-logo.png" alt="telmedx">
                    {% endif %}
                </a>
            </div>
            <div class="nav-line">&nbsp;</div>
            <div class="nav-title">
                {% if user.is_staff and not user.is_superuser %}
                    <span>{{ user.group.name }} Portal</span>
                {% elif user.is_superuser %}
                    <span>Admin Portal</span>
                {% endif %}
            </div>
            {% block nav %}{% endblock nav %}
        </div>
    </div>

    {% block content %}{% endblock content %}
</div>
<div id="footer">
    <footer>
        <p>&copy; {% now 'Y' %} telmedx</p>
    </footer>
</div>


<script src="{% static 'vendor.js' %}"></script>
<script src="{% static 'app.js' %}"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<!--
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
-->
</body>

</html>

