{% extends "layout.html" %}
{% block metatitle %}telmedx - login{% endblock %}
{% block metadescription %}Looking for the next big thing in healtcare? Checkout telmedx.com{% endblock %}
{% block metastyle %}
		<style>
          html,
          body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
          }
          /* Wrapper for page content to push down footer */
          #wrap {
            min-height: 100%;
            height: auto;
            /* Negative indent footer by its height */
            margin: 0 auto -45px;
            /* Pad bottom by footer height */
            padding: 0 0 45px;
            background: url(static/img/bg2.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
          /* Set the fixed height of the footer here */
          #footer {
            height: 45px;
            background-color: #000;
            color: #a0a0a0;
            text-align: center;
          }
          #footer-push{
            height: 10px;
            background-color: #202020;
          }
          .navbar-nav>li>a{
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 16px;
          }
          .navbar
          {
            background-color: #fff;
          }
          #dev-table tbody tr{
            cursor: pointer;
          }
     /*     .panel-default>.panel-heading
          {
            color: #fff;
            background-image: url('./static/img/lghtmeshli.jpg');
          }*/
        </style>

{% endblock metastyle %}
{% block nav %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="ttux/logout">Logout&nbsp;<span class="glyphicon glyphicon-off"></span></a></li>
</ul>
{% endblock nav %}
{% block content %}
    <div class="container" >
      <div class="row" style="margin-top: 130px;">
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Devices</h3>
              </div>
              <div class="panel-body">
                {% if deviceList %}

                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Device Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for d in deviceList %}
                    <tr data-link="/ttux/index3/{{ d.name }}" >
                      <td><a href="/ttux/index3/{{ d.name }}">{{ d.name }}</a></td>
                      <td>
                        {% if d.connectedState %}
                          <span class="text-success">Connected</span>
                        {% else %}
                          <span class="text-muted">Not Connected</span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                  <p>No devices are available.</p>
              {% endif %}
              </div>
          </div>
        </div>   
<!--         <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Add Users</h3>
            </div>
              <div class="panel-body">
                <form accept-charset="UTF-8" method="POST" action="" role="form">
                  <fieldset>
                      {% csrf_token %}
                      <div class="form-group {% if form.errors %} has-error {% endif %}">
                        <input class="form-control error" placeholder="Username" name="username" type="text">
                    </div>
                    <div class="form-group {% if form.errors %} has-error {% endif %}">
                      <input class="form-control error" placeholder="Password" name="password" type="password" value="">
                    </div>
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    <input type="hidden" name="next" value="/ttux/01/deviceList" />
                  </fieldset>
                </form>
              </div>
          </div>
        </div> -->
      </div>
    </div>	
{% endblock content %}
{% block afterjquery %}
<script>
  $(document).ready(function(){
    $("#dev-table tbody tr").click(function(){
      window.location.href = $(this).data('link');
    });
  })
</script>
{% endblock afterjquery %}
