{% extends "layout.html" %}
{% block metatitle %}telmedx - video feed{% endblock %}
{% block metadescription %}Looking for the next big thing in healtcare? Checkout telmedx.com{% endblock %}
{% block metastyle %}
		<style>
          html,
          body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
          }
          /* Wrapper for page content to push down footer */
          #wrap {
            min-height: 100%;
            height: auto;
            /* Negative indent footer by its height */
            margin: 0 auto -45px;
            /* Pad bottom by footer height */
            padding: 0 0 45px;
            background: url(static/img/bg-repeat.jpg) repeat; 
          }
          /* Set the fixed height of the footer here */
          #footer {
            height: 45px;
            background-color: #000;
            color: #a0a0a0;
            text-align: center;
          }
          #footer-push{
            height: 10px;
            background-color: #202020;
          }
          .navbar-nav>li>a{
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 16px;
          }
          .navbar
          {
            background-color: #fff;
          }
          #hollywood
          {
            width: 100%;
          }
          #activeSnapshot{
            height: 100%;
          }
          .icon-bar{
            background-color: black;
          }
          .navbar-toggle{
            border: 1px solid black;
            margin-top: 18px;
          }
          img.snapshot{
            margin-bottom: 4px;
          }
          #c{
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
          #first-row{
            margin-top: 100px;
          }
          @media all and (max-width: 992px) and (min-width: 768px) {
            /*#sidebar ul li a {
              padding-left: 21px;
              background: url(../images/email.png) left center no-repeat;
            }*/
            .nav{
              height: 45px;
            }
            .navbar-brand{
              padding: 10px;
              /*border: 1px solid red;*/
            }
            .navbar-brand img{
              margin-top: 3px;
              height: 25px;
              /*border: 1px solid red;*/
            }
            .navbar-nav>li>a {
              padding-top: 16px;
              padding-bottom: 15px;
              font-size: 14px;
            }
            #first-row{
              margin-top: 70px;
            }
          }
          #capture-snaper .panel-body{
            padding: 0px;
          }
          .currently-panning{
            pointer-events:none;          /* THIS IS THE TRICK YOU SEEK */
          }
          #drawing-layer{
            position: absolute;
            z-index: 4;
          }
        </style>
        <!--[if IE]>
      <style type="text/css">

        .currently-panning {
          background:none !important;
        }

        </style>
    <![endif]-->
    <link rel="stylesheet" href="/static/fonts/flaticon.css">
{% endblock metastyle %}
{% block nav %}
<ul class="nav collapse navbar-collapse navbar-nav">
  <li><a href="/ttux/deviceList">Back to Device List</a></li>
</ul>
<ul class="nav collapse navbar-collapse navbar-nav navbar-right">
  <li><a href="ttux/logout">Logout&nbsp;<span class="glyphicon glyphicon-off"></span></a></li>
</ul>
{% endblock nav %}
{% block content %}
    <div class="container" style="max-width:100%">
      <div id="first-row" class="row" style="">
        <div class="col-md-5 col-sm-5 ">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Live Video - {{ dev.name }} <div style="display:inline;" id="stream_status">{{ OTUK }}: Waiting...</div>&nbsp;
              <div style="float: right;">
              <button id="rotate-left" class="btn" style="height: 30px; width:30px; background: url(static/img/icon-left-blue-lg.png) no-repeat;"></button>
              &nbsp;&nbsp;
              <button id="rotate-right" class="btn" style="height: 30px; width:30px; background: url(static/img/icon-right-blue-lg.png) no-repeat;"></button>
              </div>
              <div class="clearfix"></div>
              </h3>
            </div>
            <div class="panel-body">
              <div id="stream">
                <canvas id="c"  ></canvas>
                <!-- <img id="hollywood" src="/static/spinner.gif" ></img> -->
              </div>
              <div id="capture-button" class="row">
<!--                 <div class="col-xs-2" style="text-align: center;">
                  <button type="button" id="flash-toggle" style="height: 72px;" class="btn btn-primary btn-lg" data-toggle="button"><span style="font-size: 25px;" class="glyphicon glyphicon-flash"></span></button>
                  <p id="flash-status" >Flash Off</p>
                </div>
                <div class="col-xs-8"> 
                  <button class="btn btn-primary btn-lg btn-block" >
                    <img style="height: 50px; cursor:pointer;" src="static/img/Capture_Button.png">Take Photo</button>
                </div>
                <div class="col-xs-2" style="text-align: center;">
                  <button id="camera-toggle" style="font-size: 25px; height: 72px;" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-phone"></span>
                  </button>
                  <p id="camera-status" style="text-align: center;">Back</p>
                </div> -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default"><img style="height: 50px;" src="/static/img/switch19.png"></button>
                  <button type="button" class="btn btn-default"><img style="height: 50px; cursor:pointer;" src="static/img/Capture_Button.png" /></button>
                  <button id="flash-toggle" type="button" class="btn btn-default"><img style="height: 50px;" src="/static/img/flash1.png"> </button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><img style="height: 30px;" src="/static/img/images10.png"></h3>
            </div>
            <div id="pastSnapshots" style="min-height:100px;" class="panel-body">

            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-7">
          <div  id="capture-snaper" class="panel panel-default">
            <div class="panel-heading" id="cap-head">
              <h3 class="panel-title"><img style="height: 50px;" src="/static/img/picture11.png"> 
                <!-- <img style="height: 50px;" src="/static/img/hd3.png">      -->
                <!-- Button trigger modal -->
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                  <img style="height: 30px" src="/static/img/page14.png">
                </button>
                <div style="float: right;">
                  <div style="clear: both; margin-top: 3px;">
                    <button class="btn btn-sm btn-default zoom-in" >
                      <!-- <span class="glyphicon glyphicon-plus"></span> -->
                      <img style="height: 30px;" src="/static/img/zoom7.png">
                    </button>
                    <button class="btn btn-sm btn-default zoom-out" >
                      <img style="height: 30px;" src="/static/img/minus13.png">
                      <!-- <span class="glyphicon glyphicon-minus"></span> -->
                    </button>
                    </div>
                </div>
              </h3>
            </div>
            <div id="cap-body" class="panel-body">
              <div style="height:100%" id="snapshots" style="position:relative;">
                <div id="drawing-layer"></div>
                <div class="panzoom">
                    
                  
                  
                  <img id="activeSnapshot"  src="/static/img/sampleimage.png" alt="" />
                  <!-- <img src="http://blog.millermedeiros.com/wp-content/uploads/2010/04/awesome_tiger.svg" width="900" height="900"> -->
                </div>

              </div>
            </div>
            <div class="panel-footer">
              <div class="buttons">
<!--                 <button class="zoom-in">Zoom In</button>
                <button class="zoom-out">Zoom Out</button>
                <input type="range" class="zoom-range" step="0.05" min="0.4" max="5">
                <button class="reset">Reset</button> -->
            </div>
            </div>
          </div>
        </div>
      </div>
      <canvas style="display:none;" id="b"></canvas>
    </div>	


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block afterjquery %}
<script type="text/javascript" src="/static/js/browser.js"></script>
<script type="text/javascript" src="/static/js/jquery.panzoom.min.js"></script>
<script type="text/javascript" src="/static/js/raphael.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
<script type="text/javascript" src="/static/js/raphael.sketchpad.js"></script>
<!-- <script type="text/javascript" src="/static/js/jquery.sketch.min.js"></script> -->
      <script>

        (function() {
          var $section = $('#capture-snaper').first();
          $section.find('.panzoom').panzoom({
            $zoomIn: $section.find(".zoom-in"),
            $zoomOut: $section.find(".zoom-out"),
            $zoomRange: $section.find(".zoom-range"),
            $reset: $section.find(".reset")
          });
        })();
      
      </script>
<script type="text/javascript">


  //Frame counter & UI
  var ff=0;
  var lastFrame = 0;
  var fCounter = 0;
  var startTime = new Date();

  //video feed rotation
  var rotate = 90;//Default Rotation
  var ctx;
  var canvas;

  //Stream box
  var streamBox;

  //large image rotation
  var ctx2;
  var canvas2;

  //Canvas support
  var canvasSupport; //true or false, defines if we should use canvas or img


  function isCanvasSupported(){
    var elem = document.createElement('canvas');
    return !!(elem.getContext && elem.getContext('2d'));
  }
  function inviteClicked() {
    jQuery.post("/ttux/invite");
  }
    
  function select(id) {
    $(".snapshot").css("border", "none");
    $("#" + id).css("border", "4px solid");
  }
  
  function showSnapshot(id) {
    var selected = $("#" + id);
    
    $("#activeSnapshot").attr("src", selected.attr("src"));
    select(id);
  }
  
  function takeSnapshotClicked() {
    $.post("/ttux/snapshot/{{ dev.name }}", null, function(data) {
      var dataUri = "data:image/jpeg;base64," + data.image;
      if( canvasSupport ){
        var image = new Image();
        image.src = dataUri;
        image.onload = function() {
          var cw = image.width, ch = image.height, cx = 0, cy = 0;
          //Calculate new canvas size and x/y coorditates for image
          switch(rotate){
            case 90:
              cw = image.height;
              ch = image.width;
              cy = image.height * (-1);
              break;
            case 180:
              cx = image.width * (-1);
              cy = image.height * (-1);
              break;
            case 270:
              cw = image.height;
              ch = image.width;
              cx = image.width * (-1);
              break;
          }
          console.log(rotate);
          
          //  Rotate image            
          canvas2.setAttribute('width', cw);
          canvas2.setAttribute('height', ch);
          ctx2.rotate(rotate * Math.PI / 180);
          ctx2.drawImage(image, cx, cy);//Display Image in Canvas
          dataUri = canvas2.toDataURL();
          console.log(dataUri);
          $("#activeSnapshot").attr("src", dataUri);
          var id = "snapshot-" + new Date().getTime().toString();
          var imageElement = "<img class=\"snapshot\" id=\"" + id + "\" src=\"" + dataUri + "\" width=\"75\" height=\"50\" onclick=\"window.parent.showSnapshot('" + id + "')\"> "
          
          $("#pastSnapshots").append(imageElement);
          
          select(id);
        }//End image.onload
      }else
      {
        $("#activeSnapshot").attr("src", dataUri);
        var id = "snapshot-" + new Date().getTime().toString();
        var imageElement = "<img class=\"snapshot\" id=\"" + id + "\" src=\"" + dataUri + "\" width=\"75\" height=\"50\" onclick=\"window.parent.showSnapshot('" + id + "')\"> "
        
        $("#pastSnapshots").append(imageElement);
        
        select(id);
      }
    });

    
    $("#activeSnapshot").attr("src", "/static/img/sampleimage.png")
  }




  function frameOne_jq(){

    var r = $.ajax({//Go get frame
      url: "/ttux/lastFrame/{{ dev.name }}/" + lastFrame
    });
    
    r.done( function(msg) {
      console.log(msg.substring(0,15));
      var fnumber = msg.substring(0,8);
      lastFrame = fnumber;
      if (msg.substring(8).length > 0) {
          videoSrc = "data:image/jpg;base64," + msg.substring(8);
          if( canvasSupport ){
            var image = new Image();
            image.src = videoSrc;
            image.onload = function() {
              var cw = image.width, ch = image.height, cx = 0, cy = 0;
              //Calculate new canvas size and x/y coorditates for image
              switch(rotate){
                case 90:
                  cw = image.height;
                  ch = image.width;
                  cy = image.height * (-1);
                  break;
                case 180:
                  cx = image.width * (-1);
                  cy = image.height * (-1);
                  break;
                case 270:
                  cw = image.height;
                  ch = image.width;
                  cx = image.width * (-1);
                  break;
              }
              // console.log(rotate);
              
              //  Rotate image            
              canvas.setAttribute('width', cw);
              canvas.setAttribute('height', ch);
              ctx.rotate(rotate * Math.PI / 180);
              if( cw > streamBox.innerWidth() )//Scales the image down if it won't fit in the box
              {
                ctx.scale(streamBox.innerWidth()/cw,streamBox.innerWidth()/cw);
                streamBox.css("height",ch*streamBox.innerWidth()/cw+"px");
              }
              ctx.drawImage(image, cx, cy);//Display Image in Canvas
            }//End image.onload
          }else{ //If canvas is not supported display in img tag
            $("#hollywood").attr('src',videoSrc);
          }

      // };
      var now = new Date();
      var min = Math.floor( (now - startTime)/1000 );
      var sec = (now - startTime)%1000;
      
      $("#stream_status").html("- " + min + "." + sec + " f: " + fCounter );
      fCounter++; //Adds to frame couter
      }
      frameOne_jq(); //Let the function call itself
    });

    // error handler, wait 1/2 second
    r.error( function(msg) {
      console.log("got error");
      setTimeout("frameOne_jq()", 500);
    });

  }   
  var sketchpad;
  $(document).ready(function()
  {
    // $("#rot-btn").click(function(){
    //   rotate = rotate+90;
    //   if( rotate == 360){
    //     rotate = 0;
    //   }
    // });
    $("#flash-toggle").click(function(){
      console.log("Clicked");
      if( $(this).hasClass('active') ){
        $(this).removeClass('active');
        $(this).html('<img style="height: 50px;" src="/static/img/flash3.png">')
        // $("#flash-status").html("Flash Off");
      }else{
        $(this).addClass('active');
        $(this).html('<img style="height: 50px;" src="/static/img/flash1.png">')
      }
    });
    $("#flash-toggle").css("width",$("#flash-toggle").outerWidth());
    // $("#capture-snaper").css("border","1px solid red");
    var snaperh = $(window).height() -110 -60
    $("#capture-snaper").css("height",snaperh);
    $("#cap-body").css("height",snaperh - $("#cap-head").outerHeight());

    // $("#drawing-layer").attr("height",$("#activeSnapshot").innerHeight());
    // $("#drawing-layer").attr("width",$("#activeSnapshot").innerWidth());

      // sketchpad = Raphael.sketchpad("drawing-layer", {
      //   width: 400,
      //   height: 400,
      //   editing: true
      // });

    // $("[data-tool='marker'],[data-tool='eraser'] ").attr('href',document.URL+"#drawing-layer")
    // $('#drawing-layer').sketch({defaultColor: "#ff0"});

    // $("#activeSnapshot").height(snaperh - $("#cap-head").outerHeight()-30)

    $("#camera-toggle").click(function(){
      var span = $(this).find("span");
      if( span.hasClass('glyphicon-phone') ){
        span.removeClass('glyphicon-phone');
        span.addClass('glyphicon-facetime-video');
        $("#camera-status").html("Front");
      }else{
        $("#camera-status").html("Back");
        span.removeClass('glyphicon-facetime-video');
        span.addClass('glyphicon-phone');
      }
    });

    $("#rotate-right").click(function(){
      rotate = rotate+90;
      if( rotate == 360){
        rotate = 0;
      }
    });
    $("#rotate-left").click(function(){
      rotate = rotate-90;
      if( rotate == -90){
        rotate = 270;
      }
    });
    $("#capture-button").click(function(){
      takeSnapshotClicked();
    });

    canvasSupport = isCanvasSupported();
    if ( ! canvasSupport ){
      $("#c").remove();
      $("#stream").html('<img id="hollywood" src="/static/img/sampleimage.png" ></img>');
    }else{
      canvas = document.getElementById("c");
      ctx = canvas.getContext('2d');
      canvas2 = document.getElementById("b");
      ctx2 = canvas2.getContext('2d');
    }
    streamBox = $("#stream");
    // streamBox.css("width","250px");
    streamBox.css("overflow","hidden");


    //Ask for the first frame
    frameOne_jq();
  });
  </script>
{% endblock afterjquery %}
