html,body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 0 0 20px;
  background: url(/static/img/brushedsteel-bdk-blue.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Set the fixed height of the footer here */
#footer {
  height: 20px;
  background-color: #000;
  color: #a0a0a0;
  text-align: center;
}
#footer-push{
  height: 10px;
  background-color: #202020;
}
.navbar-nav>li>a{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
}
.navbar
{
  background-color: #fff;
}
#dev-table tbody tr{
  cursor: pointer;
}
.icon-bar{
  background-color: black;
}
.navbar-toggle{
  border: 1px solid black;
  margin-top: 18px;
}
/* Specific to the video feed page */
#hollywood
{
  width: 100%;
}
#activeSnapshot{
  height: 100%;
}
.icon-bar{
  background-color: black;
}
.navbar-toggle{
  border: 1px solid black;
  margin-top: 18px;
}
img.snapshot{
  margin-bottom: 4px;
}
.canvas-wrapper{
  display: inline-block;
  display: table; margin: 0 auto;
}
#c{
  padding-left: 0;
  padding-right: 0;
  border:1px solid black;
}
#first-row{
  margin-top: 100px;
}
@media all and (max-width: 992px) and (min-width: 768px) {
  .nav{
    height: 45px;
  }
  .navbar-brand{
    padding: 10px;
    /*border: 1px solid red;*/
  }
  .navbar-brand img{
    margin-top: 3px;
    height: 25px;
    /*border: 1px solid red;*/
  }
  .navbar-nav>li>a {
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 14px;
  }
  #first-row{
    margin-top: 70px;
  }
}
#capture-snaper .panel-body{
  padding: 0px;
}
.currently-panning{
  pointer-events:none;          /* THIS IS THE TRICK YOU SEEK */
}
#drawing-layer{
  position: absolute;
  z-index: 4;
}
.hundo{
  width: 100%;
}
#camera-back-icon span{
  font-size: 40px;
  height: 50px; 
  padding-top: 5px;
}
.currently-panning {
  background:none !important;
}