{% extends "layout.html" %}
{% block metatitle %}telmedx | Video Feed:  {{ dev.name }}{% endblock %}
{% block metadescription %}Looking for the next big thing in healthcare? Checkout telmedx.com{% endblock %}
{% block nav %}
    <ul class="nav navbar-nav">
        <li class="{% if '/users' in request.path %}active{% endif %}">
            <a href="{% url 'admin-users-list' %}">
                <span class="link">Users</span>
            </a>
        </li>
        {% if request.user.is_superuser %}
            <li class="{% if '/groups' in request.path %}active{% endif %}">
                <a href="{% url 'admin-groups-list' %}">
                    <span class="link">Groups</span>
                </a>
            </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{% url 'user-logout' %}">
                <span class="link">Log Out</span>
            </a>
        </li>
    </ul>
{% endblock nav %}

{% block content %}
<br>
    <div id="device-video-page" class="container" style="width: 100%;">
        <div id="first-row" class="row">
            <div class="col-md-12">
                <a href="{% url 'admin-users-list' %}">
                    <span class="glyphicon-chevron-left glyphicon"></span> Back to all users
                </a>
            </div>
        </div>

        <div class="row">
            <div id="video-container" class="video-panel panel panel-default resizable" style="overflow: hidden;">
                <div class="panel-heading ui-widget-header" style="padding: 9px 8px 8px 8px;">
                    <h3 class="panel-title" style="">
                        <div style="float: left">{{ dev.name }} &nbsp;</div>

                        <div style="float: right" id="rotate-buttons">

                            <button id="rotate-left" class="btn btn-default" style="padding: 3px;">
                                <img style="height: 25px;" src="/static/img/controls/rotating1.png">
                            </button>
                            <button id="rotate-right" class="btn btn-default" style="padding: 3px;">
                                <img style="height: 25px;" src="/static/img/controls/rotating1-opp.png">
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </h3>
                </div>
                <div class="stream-container" style="resize: both;">
                    <div id="stream-container-child" class="panel-body">
                        <div id="stream">
                            <div class="canvas-wrapper">
                                <canvas width="360" height="480" id="video-canvas"></canvas>
                                '
                                <div style="margin: 0px;" id="stream_status">{{ OTUK }}: Waiting...</div>
                            </div>
                        </div>
                    </div>
                    <div class="row ui-widget-content" style="resize: both;">
                        <div class="text-center" style="margin: 0 auto; margin-top: -2%;">
                            <div class="btn-group">
                                <button id="camera-toggle" type="button" class="btn btn-default" style="padding: 3px;">
                                    <div id="camera-toggle-icon">
                                        <img style="height: 50px;" src="/static/img/controls/switch19.png">
                                    </div>
                                </button>
                                <button type="button" id="capture-button" class="btn btn-default" style="padding: 3px;">
                                    <img style="height: 50px; cursor:pointer;"
                                         src="/static/img/controls/Capture_Button.png"/>
                                </button>
                                <button id="flash-toggle" type="button" class="btn btn-default"
                                        style="padding: 3px; width: auto !important;">
                                    <img style="height: 50px;" src="/static/img/controls/open103.png">
                                </button>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <span class="glyphicon glyphicon-comment"></span> Messages

                            </div>
                            <div style="min-height:200px;min-width:200px; display: block;" class="panel-body">

                                <div style="overflow-y:scroll; height:200px" >
                                    <span id="messageboxID"> </span>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

            <script>
// getMessages();
//  function  getMessages(){
//         let today = new Date().toLocaleString();

//        $.ajax({
//            url: '/ttux/messaging/'
//        }).done(function(data) {
//            console.log(data);
//            console.log('date');
//            var messagebox = document.getElementById("messagebox");
//            messagebox.innerHTML += data  + "          "+ today + '<br/>';
//        });
//    };


$('#messageboxID').change(function(){
   alert("changed");
});

previousVal = "";
function InputChangeListener()
{
    let today = new Date().toLocaleString();


    console.log('inside listener');
       $.ajax({
           url: '/ttux/messaging/'
       }).done(function(data) {
        if($('#messageboxID').val() != previousVal){
            //previousVal = data + today;
          //  $('messageboxID').change();
        var messagebox = document.getElementById("messageboxID");
        previousVal = data  + "          "+ today + '<br/>'
        messageboxID.innerHTML += previousVal;
        }
        console.log('finished');
       });
  // if($('#elementId').val()
  //    != previousVal)
  // {
  //  previousVal  = $('#elementId').val();
  //  $('#elementId').change();    
  // }
}

setInterval(InputChangeListener, 5000);

$('#messageboxID').val(3);

</script>


            <div id="first-middle" class="">
                <div id="snapshot-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><img style="height: 30px;" src="/static/img/controls/images10.png"></h3>
                    </div>
                    <div id="pastSnapshots" style="min-height:100px; display: block;" class="panel-body"></div>
                </div>
            </div>
            <div id="first-right">
                <div id="snap-container" class="panel panel-default resizable-right" style="overflow: hidden;">
                    <div id="capture-snaper">
                        <div class="panel-heading" id="cap-head">
                            <h3 class="panel-title">
                                <img style="height: 30px;" src="/static/img/controls/picture11.png">
                                <div style="float: right;" id="zoom-controls">
                                    <div style="clear: both;">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-default zoom-in">
                                                <img style="height: 20px;" src="/static/img/controls/zoom7.png">
                                            </button>
                                            <button class="btn btn-sm btn-default zoom-out">
                                                <img style="height: 20px;" src="/static/img/controls/minus13.png">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div style="float: right;" id="download-snapshot">
                                </div>
                            </h3>
                        </div>
                        <div id="cap-body" class="panel-body">
                            <div id="snapshots" style="position:relative;">
                                <div class="panzoom">
                                    <img id="activeSnapshot"
                                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                         alt=""
                                         data-sid=""/>
                                </div>
                            </div>
                            <form id="imageDownloadForm" action="/ttux/imageDownload/" method="POST">
                                <input type="hidden" name="imageData" value=""/>
                                <input type="hidden" name="rotation" value="0"/>
                                <textarea id="snapText" data-sid="" rows="2" name="annotationText" cols="100"
                                          maxlength="160" placeholder="Add Notes"></textarea>
                                <button id="downloadSnap-2" style="float: right;" form="imageDownloadForm" type="submit"
                                        class="btn btn-sm btn-default" disabled>Save Photo + Text
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="second-row" class="row">
            <div id="second-left" class="col-md-6">
                <div id="powered-logo" style="">
                    <p style="margin-bottom: 5px; color: #fff;">Powered By</p>
                    <img src="/static/img/powered-by.png" style="width: 125px;">
                </div>
            </div>
        </div>

        <canvas style="display:none;" id="b"></canvas>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div id="drawing-layer"></div>
                    <img id="editSnapshot" class="hundo" src="/static/img/controls/spinner.gif">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deviceName" data-name="{{ dev.uuid }}"></div>

{% endblock content %}

{% block afterjquery %}

    {#    <script type="text/javascript" src="/static/js/jquery.panzoom.min.js"></script>#}
    {#    <script type="text/javascript" src="/static/js/jquery.panzoom.min.js"></script>#}
    {#    <script type="text/javascript" src="/static/js/videofeed-1.js"></script>#}
    {#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    {#    <script type="text/javascript" src="/static/js/drag.js"></script>#}
    {#    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
{% endblock afterjquery %}
